- const matchingDataArr = self.bodyData.matching_list;

.center-frame

  section#matchingStateSection.board-prm
    .board-hdr
      .label-box._fb.flex._c
        i.icon-title-b.far.fa-thumbs-up.fa-fw.c-blue
        span: |マッチング一覧

    .board-cnt._s.list-board#matching_group
      if (matchingDataArr && matchingDataArr.length)

        - for(let md of matchingDataArr){
          .board-prm._s._border
            .board-cnt._s

              .label-icon-box.flex.st-mb-s
                .link-wrap
                  .label-icon
                    img(src=`/image/icons/${md.icon_url}`)
                .maching-wrap
                  .st-string-set
                    span.sub-text: |#{md.isMine ? "◀ " : "▶ "}#{md.datetime_info.year}年#{md.datetime_info.month}月#{md.datetime_info.day}日(#{md.datetime_info.week}) #{md.datetime_info.hour}:#{md.datetime_info.minute}:#{md.datetime_info.seconds}
                    p: | #{md.user_name}
                    //- .st-matching-type(date-machingid=md.status_type.code, class=`_${md.status_type.type}` ): |#{md.status_type.name}
                    if(Number(self.userType) == 1)
                      if md.isMine 
                        p.sub-text.right-text: |さんへ依頼しました。
                      else
                        p.sub-text.right-text: |さんが応募しました。
                    else
                      if md.isMine
                        p.sub-text.right-text: |さんの募集に応募しました。
                      else
                        p.sub-text.right-text: |さんから依頼されました。

              .card-prm

                .card-cnt
                
                  .label-input-box._mbs
                    .label-box
                      p.main-label: |対象スケジュール日付
                    .input-box.flex._c.st-readonly
                      span._s(data-dummytag="input", data-name="date_key"): |#{md.schedule_date_key}
                
                  .label-input-box._mbs
                    .label-box
                      p.main-label: |イベント名 or 開催地
                    .input-box.flex._c.st-readonly
                      span._s(data-dummytag="input", data-name="event_name"): |#{md.schedule_event_name}

                .card-ftr
                  .btn-more-read(name="scheduleMore" data-schedule_id=md.schedule_id): |詳細を見る

            .board-ftr._s.flex._jr.btn-board
              a.btn-prm.link-btn.st-btn-icon.st-line-b.flex._c(href=`/message/room?r=${md.matching_id}`)
                i.icon-btn-s.far.fa-comment.fa-fw
                span: |質問
              a.btn-prm.link-btn.st-btn-icon.st-line-r.flex._c(name="doPostMatching", data-matching_id=md.matching_id, data-proc="reject")
                i.icon-btn-s.fas.fa-times.fa-fw
                span: |取消

              if !md.isMine && md.status_type.code == 1
                a.btn-prm.link-btn.st-btn-icon.st-back-b.flex._c(name="doPostMatching", data-matching_id=md.matching_id, data-proc="consent")
                  i.icon-btn-s.far.fa-check-circle.fa-fw
                  span: |承諾
        -}

      else
        .no_list_box
          p: |マッチングはありません。

  section#matchingHistorySection.board-prm
    include ./matchingHistorySection.pug
