-
  const matchingDataArr = self.bodyData.matching_list;
  const matchingHistoryArr = self.bodyData.matching_history;
-

.center-frame
  .board-prm
    .board-hdr

      .label-box._fb.flex._c
        i.icon-title-b.far.fa-thumbs-up.fa-fw.c-blue
        span: |マッチング一覧

    .board-cnt._s.list-board
      //- p.info-text: |新しいメッセージはありません

      - for(let md of matchingDataArr){
      .board-prm._s._border
        .board-cnt._s
          .label-icon-box.flex
            .link-wrap
              .label-icon
                img(src=md.icon_url)
            .maching-wrap
              .st-string-set
                span.sub-text: |#{md.datetime_info}
                p: |#{md.user_name}
              .st-matching-type(date-machingid=md.status_type.id)._req: |#{md.status_type.name}

        .board-ftr._s.flex._jr.btn-board
          a(
            class=['btn-prm','link-btn','st-btn-icon','st-line-b','flex','_c']
            href='/message/room?r=' + md.matching_id
          )
            i.icon-btn-s.far.fa-comment.fa-fw
            span: |質問
          a.btn-prm.link-btn.st-btn-icon.st-line-r.flex._c(
            data-request_id=md.matching_id,
            data-rejectRequest
          )
            i.icon-btn-s.fas.fa-times.fa-fw
            span: |取消
          a.btn-prm.link-btn.st-btn-icon.st-back-b.flex._c(
            data-request_id=md.matching_id,
            data-consentRequest
          )
            i.icon-btn-s.far.fa-check-circle.fa-fw
            span: |確認
      -}

  .board-prm
    .board-hdr
      .label-box._fb.flex._c
        i.icon-title-b.fas.fa-history.fa-fw.c-glay
        span: |マッチング履歴
    .board-cnt._s.list-board
      - if (matchingHistoryArr.length <= 0)
        p.info-text: |メッセージ履歴はありません


      ul.st_options
        - for (let matchingHistory of matchingHistoryArr )
          li.label-icon-link
            .link-wrap.flex._c.editReview
              .label-icon
                img(src=matchingHistory.icon_url)
              .st-string-set
                span.sub-text: |#{matchingHistory.date_info}
                p: |#{matchingHistory.user_name}
              i.icon-link.fas.fa-chevron-right.fa-fw

    .board-ftr
      .pager(data-pagerid="reviewhistry")
        ul.flex._jc
          li: a: i.icon-pager.fas.fa-angle-double-left.fa-fw
          li: a: i.icon-pager.fas.fa-angle-left.fa-fw
          -for(let i=1;i<=3;i++){
            li: a(class= i==1 ? 'selected' : '' ): |#{i}
          -}
          li: a: i.icon-pager.fas.fa-angle-right.fa-fw
          li: a: i.icon-pager.fas.fa-angle-double-right.fa-fw
