.board-prm.custam-ptn

  //- イベント種別
  .board-cnt(data-shot_type=ei.shot_type[0])

    .recruit-title.flex._c
      //- イベントタイプ名
      p.type-name: |#{ei.shot_type[1]}
      //- イベントタイトル
      p.title: |#{ei.title}

    .inner-wrap.flex
      .inner-left
        //- アイコン
        .icon-box
          img(src=ui.icon)
        //- グットレビュー数
        .label-box.flex._c
          i.icon-label.far.fa-thumbs-up
          span: |#{recruit_item.good_review_num}
        //- ブックマーク
        .bookmark-box.shadow-l
          input(id=`bookmark${recruit_item.recruit_list_id}`, type="checkbox", checked=(recruit_item.bookmark_flg ? "checked" : undefined ))
          label(for=`bookmark${recruit_item.recruit_list_id}`)

      .inner-right
        .info-list
          //- 開催地
          .label-box.flex._c.st-lbl-attention
            i.icon-label.fas.fa-map-marker-alt
            each prefecture in ei.prefectures
              span: |#{prefecture.prefecture_name}&nbsp;&nbsp;

          //- タグ
          .tag-box
            each tag in recruit_item.tags
              a(href="http://") #{tag.tag_name}

  .board-ftr._s.flex._c._jc
    button(name="openRecruitDetail" data-recruitlistid=recruit_item.recruit_list_id).btn-prm.link-btn.st-line-b.shadow-l.st-mr
      span: |詳細表示
    button(type="submit", name="doRequestPost", data-requestid="").btn-prm.link-btn.st-back-b.shadow-l
      span: |依頼する
