-
  const unReviewList = self.bodyData.unReviewList;
-

.center-frame
  section#unReviewSection.board-prm
    .board-hdr
      .label-box._fb.flex._c
        i.icon-title-b.far.fa-thumbs-up.fa-fw.c-blue
        span: |未レビュー一覧

    .board-cnt._s.list-board
      if (unReviewList && unReviewList.length)
        ul.st_options

          - for(var unrl of unReviewList){
            li.label-icon-link(name="editReviewBtn", data-matching_id=unrl.matching_id, data-user=unrl.username)
              .link-wrap.flex._c
                .label-icon
                  img
                .st-string-set
                  span.sub-text: |#{unrl.date_info.year}年#{unrl.date_info.month}月#{unrl.date_info.day}日(#{unrl.date_info.week})
                  p: |#{unrl.username}
                  input(type="hidden", name="username", value=unrl.username)
                i.icon-link.fas.fa-chevron-right.fa-fw
          - }
      
      else
        .no_list_box
          p: |未レビューはありません。

  section#revieweeHistorySection.board-prm
    include ./revieweeHistorySection.pug

  section#reviewHistorySection.board-prm
    include ./reviewHistorySection.pug
