-
  // レビューした履歴
  var reviewHistorys = self.bodyData.reviewHistoryItem.rows;
  console.log('reviewHistorys: ', reviewHistorys);
-
.board-hdr
  .label-box._fb.flex._c
    i.icon-title-b.fas.fa-history.fa-fw.c-glay
    span: |レビュー履歴
.board-cnt._s.list-board
  //- p.info-text: |メッセージ履歴はありません
  ul.st_options
    - var goodIcon = ["icon-title-b","far","fa-fw", "fa-thumbs-up","c-blue"]; // goodアイコンのcssセット
    - var badIcon  = ["icon-title-b","far","fa-fw", "fa-thumbs-down","c-purple"]; //badアイコンのcssセット
    - for(var rh of reviewHistorys){
      li.label-icon-link(name="editReviewBtn", data-review_id=rh.review_id)
        .link-wrap.flex._c.editReview
          .label-icon
            img
          i(class=rh.type==1?goodIcon:badIcon)
          .st-string-set
            span.sub-text: |#{rh.date_info.year}年#{rh.date_info.month}月#{rh.date_info.day}日(#{rh.date_info.week})
            p: |#{rh.username}
          i.icon-link.fas.fa-chevron-right.fa-fw
    - }

.board-ftr._s
  .pager(data-pagerid="reviewHistry")
    ul.flex._jc
      li: a: i.icon-pager.fas.fa-angle-double-left.fa-fw
      li: a: i.icon-pager.fas.fa-angle-left.fa-fw
      -for(let i=1;i<=3;i++){
        li: a(class= i==1 ? 'selected' : '' ): |#{i}
      -}
      li: a: i.icon-pager.fas.fa-angle-right.fa-fw
      li: a: i.icon-pager.fas.fa-angle-double-right.fa-fw
