-
  const reviewHistorys = self.bodyData.reviewHistoryItem.rows;
  const reviewHistoryPager = self.bodyData.reviewHistoryItem.pages;
-
.board-hdr
  .label-box._fb.flex._c
    i.icon-title-b.fas.fa-history.fa-fw.c-glay
    span: |レビュー履歴

.board-cnt._s.list-board
  if(reviewHistorys && reviewHistorys.length)

    ul.st_options
      - var goodIcon = ["icon-title-b","far","fa-fw", "fa-thumbs-up","c-blue"]; // goodアイコンのcssセット
      - var badIcon  = ["icon-title-b","far","fa-fw", "fa-thumbs-down","c-purple"]; //badアイコンのcssセット
      - for(var rh of reviewHistorys){
        li.label-icon-link(name="editReviewBtn", data-review_id=rh.review_id, data-user=rh.username)
          .link-wrap.flex._c.editReview
            .label-icon
              img(src=`/image/icons/${rh.user_icon}`)
            i(class=rh.type==1?goodIcon:badIcon)
            .st-string-set
              span.sub-text: |#{rh.date_info.year}年#{rh.date_info.month}月#{rh.date_info.day}日(#{rh.date_info.week})
              p: |#{rh.username}
            i.icon-link.fas.fa-chevron-right.fa-fw
      - }
  else
    .no_list_box
      p: |レビューはありません。

.board-ftr
  .pager(data-listpager="reviewHistoryPager")
    ul.flex._jc
      -
        var url = `/mypage/review/history`;
            np = Number(reviewHistoryPager.now_page),
            mp = Number(reviewHistoryPager.max_page),
            isMin = np > 1,
            isMax = np < mp,
            prev = np - 1,
            next = np + 1
      -
      li
        span(data-page_url=`${url}?page=1`, class= isMin ? '': 'invisible' ): i.icon-pager.fas.fa-angle-double-left.fa-fw
      li
        span(data-page_url=`${url}?page=${prev}`, class= isMin ? '': 'invisible' ): i.icon-pager.fas.fa-angle-left.fa-fw
      - for(let i=0;i<reviewHistoryPager.disp_page_list.length;i++){ let p = reviewHistoryPager.disp_page_list[i];
        li
          -if(p == np){
          span(class="selected"): |#{p}
          -}else{
          span(data-page_url=`${url}?page=${p}`): |#{p}
          -}
      - }
      li
        span(data-page_url=`${url}?page=${next}`, class= isMax ? '': 'invisible' ): i.icon-pager.fas.fa-angle-right.fa-fw
      li
        span(data-page_url=`${url}?page=${mp}`, class= isMax ? '': 'invisible' ): i.icon-pager.fas.fa-angle-double-right.fa-fw
