- // レビューした履歴
-
  var reviewLists = [
    {
      id: 1,  //request_id
      date: {y:"2018", m:"05", d:"01"},
      username: "テストユーザー1",
      type: 1,  // good
    },{
      id: 2,  //request_id
      date: {y:"2018", m:"05", d:"02"},
      username: "テストユーザー2",
      type: 2,  // bad
    },
  ];
  var reviewList = self.bodyData.reviewHistoryItem.rows;
-


.board-hdr
  .label-box._fb.flex._c
    i.icon-title-b.fas.fa-history.fa-fw.c-glay
    span: |レビュー履歴
.board-cnt._s.list-board
  //- p.info-text: |メッセージ履歴はありません
  ul.st_options
    - var goodIcon = ["icon-title-b","far","fa-fw", "fa-thumbs-up","c-blue"]; // goodアイコンのcssセット
    - var badIcon  = ["icon-title-b","far","fa-fw", "fa-thumbs-down","c-purple"]; //badアイコンのcssセット
    - for(var obj of reviewList){
      li.label-icon-link
        .link-wrap.flex._c.editReview
          .label-icon
            img
          i(class=obj.type==1?goodIcon:badIcon)
          .st-string-set
            span.sub-text: |#{obj.date}
            p: |#{obj.username}
          i.icon-link.fas.fa-chevron-right.fa-fw
    - }

.board-ftr._s
  .pager(data-pagerid="reviewhistry")
    ul.flex._jc
      li: a: i.icon-pager.fas.fa-angle-double-left.fa-fw
      li: a: i.icon-pager.fas.fa-angle-left.fa-fw
      -for(let i=1;i<=3;i++){
        li: a(class="#{i==1?'selected':''}"): |#{i}
      -}
      li: a: i.icon-pager.fas.fa-angle-right.fa-fw
      li: a: i.icon-pager.fas.fa-angle-double-right.fa-fw
