header
  .hdr-cntnr
    .cntnr-balancer
      div(class=`${self.publicMode ? "header-spacer-public" : "header-spacer"}`)

      - if (backBtn.href){
      .hdr-controll
        a.btn-prm.link-btn.st-btn-icon.st-line-w.flex._c(href=backBtn.href)
          i.icon-btn.fas.fa-chevron-left.fa-fw
          span: |#{backBtn.name}
      - }

    .hdr-menu
      .cntnr-balancer
        //-title
        div(class=`${self.publicMode ? "hdr-title-public" : "hdr-title"} flex _c`)
          .hdr-logo
            img(src=main_logo, alt="", srcset="")
          h1: |#{self.title}
          span#noticeBtn.act-back-blue.shadow-d.on-notice
            i.icon_notice.far.fa-bell
        //-navigation
        - if (!self.publicMode) {
        nav
          ul.hdr-g-nav.flex._c
            each menu in gnav_menu_list
              - if(menu.id == "cosgroup" && self.userType == "2") continue;
              li(id=menu.id)
                a.flex._c._j(href=menu.href)
                  span.menu-icon-poti-lock
                    i.icon-menu.fa-fw(class=menu.icon_css)
        - }
        

