

.center-frame
  form(method="post", action="", name="equipmentForm")

    .board-prm
      .board-hdr

        .label-box._fb.flex._c
          i.icon-title-b.fas.fa-camera.fa-fw.c-blue
          span: |所持機材設定

      .board-cnt
        .attention-prm
          p
            span.st-required(style="display:inline-block;")
              |&emsp;&emsp;&emsp;
            |&nbsp;は必須項目です。

        .label-input-box#box_equipment_type
          .label-box.icon_tip._select
            p.main-label: |機材種別
          .select-box.flex._c.st-required
            select(name="equipment_type")
              each equip in self.globalParam.enumEquipmentType.getEnum()
                option(value=equip.code) #{equip.name}
              option(value="99") その他
          p.bottom-label

        .label-input-box#box_maker_type
          .label-box.icon_tip._select.help-tip(data-help_text=viewMsg.v00009)
            p.main-label: |メーカー
          .select-box.flex._c.st-required
            select(name="maker_type")
              each maker in self.globalParam.enumMakerType.getEnum()
                option(value=maker.code) #{maker.name}
          p.bottom-label
        
          #box_maker_name.init-hidden
            .label-box
              span.sub-label: |その他の場合はメーカーを入力してください。
            .input-box.flex._c.st-required
              input(type="text", name="maker_name")
            p.bottom-label
        
        .label-input-box#box_equipment_name
          .label-box.icon_tip._edit.help-tip(data-help_text=viewMsg.v00010)
            p.main-label: |機材名
          .input-box.flex._c.st-required
            input(type="text", name="equipment_name", maxlength=256)
          p.bottom-label
        
        .label-input-box#box_use_year
          .label-box.icon_tip._select
            p.main-label: |使用年数
          .select-box.flex._c
            select(name="use_year")
              each use in self.globalParam.enumUseYearType.getEnum()
                option(value=use.code) #{use.name}
          p.bottom-label

      .board-ftr._s.flex._c._jc
        button(type="submit", name="doPostEquipment").btn-prm.st-back-b.shadow-l
          span: |登録
    
  section#hasEquipmentSection.board-prm
    include ./hasEquipmentSection.pug