doctype html
html(data-cnts="mo" , data-mSelect="mo")
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width,user-scalable=no,initial-scale=1.0')
    title #{self.header}
    script(src="/bundle.js")
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css")
    <script>FontAwesomeConfig = { searchPseudoElements: true };</script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

body
  -
    console.log(self);
    var user = self.user;
    var users = self.users;
  -

  h1 セッション情報
  ul
    li
      p 現在のユーザー
      p #{JSON.stringify(user)}

    li
      button
        a(href="/debug/loginCosplayer") コスプレイヤーでログイン
    li
      button
        a(href="/debug/loginCameraman") カメラマンでログイン

    li
      button
        a(href="/debug/logout") ログアウト

  h2 ページ一覧
  ul
    li
      button
        a(href="/mypage") マイページ
    li
      button
        a(href="/mypage/schedule") 募集の管理

  h2 ユーザー一覧
  ul
    li
      - for(var obj of users){
        form(method="POST", action="/debug/loginUser")
          input(type="submit", value="ログイン")
          input(type="hidden", value="#{obj.id}", name="users_id")
          a: |#{obj.username}
          a: |#{obj.type}
      - }
