#createScheduleModal(data-modal="hide")
  form(method="post", action="", name="scheduleForm")

    .board-prm
      .board-cnt._s
        .attention-prm
          p
            span.st-required(style="display: inline-block;")
              |&emsp;&emsp;&emsp;
            |&nbsp;は必須項目です。

        .label-input-box#box_date_key
          .label-box
            p.main-label: |日付
          .input-box.flex._c.st-readonly
            input(type="text", name="date_key")
            input(type="hidden", name="schedule_id")
          p.bottom-label

        .label-input-box#box_shot_type
          .label-box.icon_tip._select.help-tip(data-help_text=viewMsg.v00011)
            p.main-label: |撮影タイプ
          .select-box.flex._c.st-required
            select(name="shot_type")
              each shot_type in self.globalParam.enumShotType.getEnum()
                option(value=shot_type.code) #{shot_type.name}
          p.bottom-label

        .label-input-box#box_prefectures_field
          .label-box.icon_tip._select.help-tip(data-help_text=viewMsg.v00005)
            p.main-label: |移動範囲
          .select-box.flex._c
            select#prefectures.js-addPrefectures
              option(value="")
                each pref in self.globalParam.enumPref.getEnum()
                  option(value=pref.id) #{pref.name}

          p.bottom-label

          p.st-title-tag.st-mt-s
            |追加した県
          .tag-cnt-box.flex._wrap#prefectures_field(data-dummytag="input", name="prefectures_field")
          
        .label-input-box#box_cos_shedule_tags(data-tag_plugin="cam_shedule_tags")
          .label-box.icon_tip._edit
            p.main-label: |タグの設定
          .input-box.flex._c
            input(type="text", maxlength=20)
            span(role="button"): i.icon-plus.fas.fa-plus-square.fa-fw.add-tag-btn
          
          p.bottom-label

          .option-box.flex._jr
            span.option-btn.st-line-b(name="tagGen")
              |質問からタグを作る
          
          p.st-title-tag.st-mt-s
            |追加したタグ
          .tag-cnt-box.flex._wrap(data-dummytag="input", name="tags_field")
          

        .accordion-prm.inline.shadow-l

          .accordion-label.flex._c
            .accordion-title
              p: |詳細オプション

          .accordion-cnt._s
            .label-input-box#box_time_from
              .label-box.icon_tip._select
                p.main-label: |撮影開始時間
              .select-box.flex._c
                select(name="time_from")
                  option(value="") 未定
                  - for(let i=0;i<24;i++){ const time = ((i+6)%24);
                    option(value=`${time}:00`) #{time}:00
                    option(value=`${time}:30`) #{time}:30
                  - }
              p.bottom-label

            .label-input-box#box_time_to
              .label-box.icon_tip._select
                p.main-label: |撮影終了時間
              .select-box.flex._c
                select(name="time_to")
                  option(value="") 未定
                  - for(let i=0;i<24;i++){ const time = ((i+6)%24);
                    option(value=`${time}:00`) #{time}:00
                    option(value=`${time}:30`) #{time}:30
                  - }
              p.bottom-label

            .label-input-box#box_event_name
              .label-box.icon_tip._edit.help-tip.help-tip(data-help_text=viewMsg.v00012)
                p.main-label: |イベント名 or 開催地
              .input-box.flex._c
                input(type="text", name="event_name", maxlength=50)
              p.bottom-label

            .label-input-box#box_remarks
              .label-box.icon_tip._edit
                p.main-label: |備考
              .textarea-box.flex._c
                textarea(name="remarks", rows="3", maxlength=500)
              p.bottom-label

        .label-input-box#box_allow_recruit_flg
          .label-box.icon_tip._check.help-tip(data-help_text=viewMsg.v00013)
            p.main-label: |撮影依頼公開設定
          .check-box.flex._c
            input(id="allowrRecruitFlg" type="checkbox", name="allow_recruit_flg")
            label(for="allowrRecruitFlg")
              |公開する
          p.bottom-label

      .board-ftr._s.flex._c._jc.proc-box
        button(type="submit", data-proc="create", name="doSchedulePost").btn-prm.st-back-b.shadow-l.proc-btn
            |登録
        button(type="submit", data-proc="edit", name="doSchedulePost").btn-prm.st-back-b.shadow-l.proc-btn
            |更新
        button(type="submit", data-proc="delete", name="doSchedulePost").btn-prm.st-back-r.shadow-l.proc-btn
            |削除
