-
  const notice_list = self.bodyData.notice_list || [];
  const notice_list_pager = self.bodyData.notice_list_pager || {};
-

form(action="", name="noticeForm")

  .board-prm
    .board-hdr
      .label-box._fb.flex._c
        i.icon-title-b.far.fa-bell.fa-fw.c-glay
        span: |お知らせ一覧

        //- 年度選択
        //- .select-box._mbn.hdr-right-side
        //-   select(name="yearSelectList")._s
        //-     - for(let year=current_year-1, limit=current_year+2; year<=limit; year++){
        //-       option(value=year, selected=select_year==year) #{year.toString()}
        //-     - }
    
    .board-cnt._s

      - if(!notice_list.length){
        .no_list_box
          p: |お知らせはありません。
      - }

      - for(var notice of notice_list){
      .card-prm.notice-box
        .card-hdr.notice-hdr(data-type=notice.type[0])
          .notice-data-type-set
            span.notice-type: |#{notice.type[1]}
            span.notice-date: |#{notice.date_info.year}年#{notice.date_info.month}月#{notice.date_info.day}日 (#{notice.date_info.week})
          p.notice-title: |#{notice.title}
        .card-cnt
          article.notice-cnt(name=`noticeArticle${notice.id}`)
            |!{notice.content}
          .btn-more-read(name="noticeMore", data-noticeid=notice.id): |さらに読み込む
      - }


    .board-ftr._s
      - if(Object.keys(notice_list_pager).length){
      .pager#noticePager
        ul.flex._jc
          -
            let np = Number(notice_list_pager.now_page),
                mp = Number(notice_list_pager.max_page),
                isMin = np > 1,
                isMax = np < mp,
                prev = np - 1,
                next = np + 1;
          -
          li
            span(data-page="1", class= isMin ? '' : 'invisible' ): i.icon-pager.fas.fa-angle-double-left.fa-fw
          li
            span(data-page=prev, class= isMin ? '': 'invisible' ): i.icon-pager.fas.fa-angle-left.fa-fw

          - for(let i=0;i<notice_list_pager.disp_page_list.length;i++){ let p = notice_list_pager.disp_page_list[i];
            li 
              span(class= p == np ? 'selected' : '' , data-page=p): |#{p}
          - }

          li
            span(data-page=next, class= isMax ? '': 'invisible' ): i.icon-pager.fas.fa-angle-right.fa-fw
          li
            span(data-page=mp, class= isMax ? '': 'invisible' ): i.icon-pager.fas.fa-angle-double-right.fa-fw
      - }
      
            