#recruitDetailModal(data-modal="hide")
  form(method="post", action="", name="recruitDetailForm", class="recruitdetail-ptn st-radius")

    .board-prm

      .board-cnt._n

        .bgImage.st-radius-top
          .hdr-Gradation
          .hdr-cntnr
            .hdr-cnt-wrap
              .hdr-cnt-box.flex._c
                .hdr-user-data
                  .user-name
                    span: |テストユーザー
                  .review-wrap.flex._c
                    i.icon-title.far.fa-thumbs-up.fa-fw.c-green
                    //- span.mr: |#{body_data.good_review_num}
                    span.mr: |10
                    i.icon-title.far.fa-thumbs-down.fa-fw.c-purple
                    //- span: | #{body_data.bad_review_num}
                    span: |2
                .recuit-btn-wrap
                  button(type="submit", name="doRequestPost", data-requestid="").btn-prm.btn-link.st-line-w.shadow-l
                    |依頼する

        .main-cntnr
          .center-frame
          
            .board-prm
              .board-hdr._s
                .label-box._fb.flex._c
                  i.icon-title.far.fa-clock.fa-fw.c-blue
                  span: |日時
              .board-cnt
                .label-box
                  //- span: |#{body_data.date_info.year}/#{body_data.date_info.month}/#{body_data.date_info.day} (#{body_data.date_info.week})
                  span: |2018/10/26
            .board-prm
              .board-hdr._s
                .label-box._fb.flex._c
                  i.icon-title.far.fa-flag.fa-fw.c-blue
                  span: |イベント名 or 開催地域
              .board-cnt
                //- span: |#{body_data.event_info.title}
                //- span.sub-text: |イベント名は設定されていません。
              .board-ftr._s
                .label-box._fb.flex._c
                  i.icon-title.fas.fa-link.fa-fw.c-blue
                  span: |詳細URL
              .board-ftr
                //- a(href=body_data.date_info.url): | #{body_data.event_info.url}
            
            .board-prm
              .board-hdr._s
                .label-box._fb.flex._c
                  i.icon-title.fas.fa-map-marker-alt.fa-fw.c-blue
                  span: |開催地
              .board-cnt
                .label-box
                  .deco-label
                    //- - for(let i=0;i<body_data.event_info.prefectures.length;i++){ let pref = body_data.event_info.prefectures[i];
                    //- span: | #{pref}
                    //- - }
            
                  
            .board-prm
              .board-hdr._s
                .label-box._fb.flex._c
                  i.icon-title.far.fa-images.fa-fw.c-blue
                  span: |サンプル写真
              .board-cnt.js-slickBtn
                .my-slick
                  div: |test
                  div: |test
                  div: |test

            .board-prm
              .board-hdr._s
                .label-box._fb.flex._c
                  i.icon-title.far.fa-thumbs-up.fa-fw.c-blue
                  span: |レビュー評価
              .board-cnt._s
                .group-wrap
                  .review-wrap
                    //- - for(let i=0;i<body_data.review_info.length;i++){ let type = body_data.review_info[i].type, comment = body_data.review_info[i].comment;
                    //- span: | #{type}
                    //- span: | #{comment}
                    //- - }

            .board-prm
              .board-hdr._s
                .label-box._fb.flex._c
                  i.icon-title.fas.fa-tag.fa-fw.c-blue
                  span: |タグ一覧
              .board-cnt
                .label-box
                  .deco-label
                    //- - for(let i=0;i<body_data.event_info.tags.length;i++){ let tag = body_data.event_info.tags[i];
                    //- span: | #{tag}
                    //- - }
                    //- - for(let i=0;i<body_data.user_tags.length;i++){ let tag = body_data.user_tags[i];
                    //- span: | #{tag}
                    //- - }

            .board-prm
              .board-hdr._s
                .label-box._fb.flex._c
                  i.icon-title.fas.fa-clipboard-list.fa-fw.c-blue
                  span: |備考
              .board-cnt
                //- span: pre: | #{body_data.remarks}

      .board-ftr._s.flex._c._jc
        button(type="submit", name="doRequestPost", data-requestid="").btn-prm.st-back-b.shadow-l.proc-btn
            |依頼する

      
          