-
  const searchConditions = false;
  let recruit_list_arr = self.bodyData.recruit_list_arr;
  const pages = self.bodyData.recruit_list_pager;
-
.center-frame

  //- 条件表示部
  .board-prm
    //- 検索ボタン
    .float-cntnr.st-search-btn
      span#searchBtn.btn-prm.st-btn-circle.st-back-b.shadow-d
        i.icon-btn.fas.fa-search.fa-fw

    //- 検索条件表示部
    .board-hdr
      .label-box
        if searchConditions
          p: |#{searchConditions.area}
          p
            for val, index in searchConditions.tags
              span: |#{val}&nbsp;
        else
          span: |条件指定なし

    //- 表示オプション表示部
    .board-cnt
      .check-box._n.flex._c
        input(id="bookmark" type="checkbox")
        label(for="bookmark")
          |ブックマークのみ表示

  //- 募集/予定一覧表示
  -let tmp_label_date;
  -for(let recruit_item of recruit_list_arr){ console.log(recruit_item);
    //- 日付を一時保存し、異なった場合はラベルを切り替える。
    -if(recruit_item.date_info.key != tmp_label_date){ tmp_label_date = recruit_item.date_info.key;
      // 日付
      include board/label.jade
    -}
    -
      const ui = recruit_item.user_info;
      const ei = recruit_item.event_info;
    -
    //- ユーザータイプごとで表示リストを分ける
    case Number(self.userType)
      when 1
        include board/cameraman.jade
      when 2
        include board/cosplayer.jade

  -}

  //- ページャー表示部
  .floor-prm
    .floor-hdr._s
      .pager(data-pagerid="recruitlist")
        ul.flex._jc
          -if(pages.now_page > 1){
            li: span(data-page="1"): i.icon-pager.fas.fa-angle-double-left.fa-fw
            li: span(data-page="#{pages.now_page-1}"): i.icon-pager.fas.fa-angle-left.fa-fw
          -}
          - for(let i=0;i<pages.disp_page_list.length;i++){ let p = pages.disp_page_list[i];
            li: span(class="#{p == pages.now_page ? 'selected' : '' }", data-page="#{p}"): |#{p}
          - }
          -if(pages.now_page < pages.max_page){
            li: span(data-page="#{pages.now_page-0+1}"): i.icon-pager.fas.fa-angle-right.fa-fw
            li: span(data-page="#{pages.max_page}"): i.icon-pager.fas.fa-angle-double-right.fa-fw
          -}

  //- AD表示部
  //- .floor-prm
  //-   .floor-cnt
      //- .ad-box
      //-   img(src="/image/ad.jpg")
