extends ../layout/frame

block content
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/chat.js")
  h1= title
  p Welcome to #{title}
  ul
    - for(var i=0,l=messages.length; i<l; i+=1)
      li #{messages[i].name} #{messages[i].text}

  input(type="text",id="chattext")
  input(type="button",id="post",value="送信")
